server:
  port: 8777

spring:
  application:
    name: BILL-SERVICE # This name is used for service discovery
  boot:
    admin:
      client:
        url: http://localhost:1111/

# Uncomment and enable the Eureka client
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost

# Expose management endpoints for Spring Boot Admin
management:
  endpoints:
    web:
      exposure:
        include: '*'

resilience4j:
  circuitbreaker:
    instances:
      failtra:
        # registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10 # Number of recent calls to record
        minimumNumberOfCalls: 5 # Minimum calls before calculating failure rate
        failureRateThreshold: 50 # If 50% of the last 10 calls fail, the circuit opens
        waitDurationInOpenState: 10s # How long the circuit stays open
        permittedNumberOfCallsInHalfOpenState: 3 # Number of test calls allowed in HALF_OPEN state